@model IEnumerable<RegistroJugadores.Models.Nacionalidad>

@{
    ViewBag.Title = "Index";
}

<h2>Nacionalidades</h2>

@{
    if (User.IsInRole("Administrador"))
    {
<p>
    @Html.ActionLink("Create New", "Create")
</p>
    }
    }
<div class="table-responsive">
    <table class="table-bordered table-condensed table-hover table-striped table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomNacionalidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoNacionalidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacionalidad)
            </th>
            @{
                if (User.IsInRole("Administrador"))
                {
            <th>Opciones</th>
                    }
                }
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomNacionalidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoNacionalidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaNacionalidad)
                </td>
                @{
                    if (User.IsInRole("Administrador"))
                    {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.NacionalidadID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.NacionalidadID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.NacionalidadID })
                </td>
                        }
                    }
            </tr>
        }

    </table>
</div>

<p>
    @Html.ActionLink("Regresar a la Pagina Principal", "Index", "Home")
</p>